.icon {
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/#{$spritesheet-image}") !important;
  }

  //&-example {
  //  &:before {
  //    .sprite
  //
  //    ($i-example);
  //  }
  //}
}