include ../abstracts/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../abstracts/mixins

include ../base/head

block includes
  //- include ../../components/example/example

block vars

doctype html
html(lang="ru")

  block head
    head
      +head(dataHead)

  +b.BODY.page
    block content

    block scripts
      //- Including, if we have other JS-labs
      //- script(src="js/libs.min.js")
      script(src="js/main.js")