// COLORS
$c_bgBody: #fff;
$c_text: #202225;
$c_brand: #FFE151;
$c_link: tomato;
// $c_accent: #F95109;

// Font-family
$ff_base: 'Roboto', sans-serif;
// $ff_second: 'Helvetica', sans-serif;
// $ff_third: 'Open Sans', sans-serif;

// Brakepoints
$xs: "min-width: 480px";
$sm: "min-width: 576px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";
$xxl: "min-width: 1400px";